@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 183, 26%, 57%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
} */

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 164 43% 55%; /* Updated */
    --primary-foreground: 210 40% 98%;
    --secondary: 220 21% 57%; /* Updated */
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 220 21% 95%; /* Adjusted for better contrast with the new secondary */
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 164 43% 95%; /* Adjusted to complement the new primary */
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 164 43% 55%; /* Adjusted to match the new primary */
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 164 43% 65%; /* Dark mode adjusted for new primary */
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 220 21% 67%; /* Dark mode adjusted for new secondary */
    --secondary-foreground: 210 40% 98%;
    --muted: 220 21% 75%; /* Dark mode adjusted for contrast */
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 164 43% 75%; /* Dark mode adjusted to complement the new primary */
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 220 21% 67%; /* Dark mode adjusted to match the new secondary */
    --input: 220 21% 67%; /* Dark mode adjusted for new secondary */
    --ring: 164 43% 65%; /* Dark mode adjusted to match the new primary */
  }
}

/* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    /* --success: */
/* --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  } 

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
} */

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* background-color: hsl(220, 21%, 57%); */
  font-family: "Work Sans", sans-serif;
}

.card-gradient:hover {
  border: 1px solid hsl(165, 73%, 60%);
  background-image: linear-gradient(
    0deg,
    hsl(175, 38%, 94%) 0%,
    hsl(176deg 72% 93%) 5%,
    hsl(176deg 71% 95%) 10%,
    hsl(176deg 71% 97%) 14%,
    hsl(176deg 71% 98%) 19%,
    hsl(176deg 71% 100%) 24%,
    hsl(0deg 0% 100%) 29%,
    hsl(0deg 0% 100%) 33%,
    hsl(0deg 0% 100%) 38%,
    hsl(0deg 0% 100%) 43%,
    hsl(0deg 0% 100%) 48%,
    hsl(0deg 0% 100%) 52%,
    hsl(0deg 0% 100%) 57%,
    hsl(0deg 0% 100%) 62%,
    hsl(0deg 0% 100%) 67%,
    hsl(0deg 0% 100%) 71%,
    hsl(0deg 0% 100%) 76%,
    hsl(0deg 0% 100%) 81%,
    hsl(0deg 0% 100%) 86%,
    hsl(0deg 0% 100%) 90%,
    hsl(0deg 0% 100%) 95%,
    hsl(0deg 0% 100%) 100%
  );
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .input {
    /* @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full; */
  }
}

@layer utilities {
  .padding {
    @apply sm:px-8 px-8 sm:pt-8 pt-8;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }

  .h1 {
    @apply font-poppins font-black lg:text-[60px] sm:text-[40px]  text-[20px] lg:leading-[65px];
  }
  /* .h1 {
    @apply text-primary md:text-[40px] sm:text-[30px]  text-[20px];
  } */

  .h2 {
    @apply text-xl font-bold sm:text-[28px] text-[20px] text-primary  tracking-wider;
  }
  .h3 {
    @apply text-xl font-bold sm:text-[28px] text-[24px] text-primary;
  }
  .h4 {
    @apply sm:text-[18px] text-[14px] bg-slate-700 text-card uppercase tracking-wider;
  }
  .text-error {
    @apply text-[11px] font-semibold text-red-400;
  }

  .border-error {
    @apply border-red-500 border-2;
  }
}
